@model TownComparisons.MVC.Views.Admin.AdminIndexViewModel

@{
    ViewBag.Title = "Administration";
}

<h2>Administration</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.LabelFor(m=>m.Municipality)
    @Html.EditorFor(m=>m.Municipality)
    <button class="">Spara</button>
}

