<div class="content">
    <h4>Kategorier</h4>

    <!-- seachbar -->
    <div id="search" class="row">
        <div class="small-4 columns end">
            <input id="search-box" placeholder="Sök" type="text" data-ng-model="filter.name" />
        </div>
    </div>

    <!-- navbar for sorting -->
    <div class="row">
        <dl class="sub-nav">
            <dt>Sortera:</dt>
            <dd class="active"><a href="#">Kategori</a></dd>
            <dd><a href="#" ng-click="changeView('/alphabet')">Alla A-Ö</a></dd>
        </dl>
    </div>

    <!-- show groups -->
    <ul class="categoriesList" ng-repeat="g in groupCategories | filter:filter.name">
        <li>
            <b>{{ g.Name }}</b>
            <!-- Show categories inside this group -->
            <ul ng-repeat="c in g.Categories">
                <li>
                    <a href="#" ng-click="showCategory(c)">{{ c.Name }}</a> (få in antal här?)
                </li>
            </ul>
        </li>
    </ul>
</div>
