<div class="content">
    <h4>Kategorier</h4>

    <!-- navbar for sorting -->
    <dl class="sub-nav">
        <dt>Sortera:</dt>
        <dd class="active"><a href="#">Kategori</a></dd>
        <dd><a href="#" ng-click="changeView('/alphabet')">Alla A-Ö</a></dd>
    </dl>

        <!-- Show groups -->
        <ul class="categoriesList" ng-repeat="g in groupCategories">
            <li>
                <b>{{ g.Name }}</b>
                <!-- Show categories inside this group -->
                <ul ng-repeat="c in g.Categories">
                    <li>
                        <a href="#" ng-click="showCategory(c)">{{ c.Name }}</a> (få in antal här?) c.OrganisationalUnits
                    </li>
                </ul>
            </li>
        </ul>
    </div>
