body {
    padding: 20px;
    width: 100%;
    font-size: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

p {
    margin: 0px;
    padding: 0px;
}

.bold {
    font-weight: bold;
}

.compareRow {
    display: inline-flex;
}

.compareBox {
    width: 140px;
    display: inline-block;
}

.compareBoxQuestion {
    width: 800px;
    display: inline-block;
}

#Compare {
    overflow-x:scroll;
    height: 500px;
}

.bgSilver {
    background-color: #d0d0d0;
}
