<div class="content">
        <h4>Operator</h4>
        <!-- Show Operator -->
        <div data-ng-app="operator" data-ng-controller="rootViewModel" ng-model="organisationalUnit">
            <div>
                <p class="input-group">
                    <span class="input-group-addon">Vem är vi?  TEST TEST</span>
                    <div>
                        {{ organisationalUnit.ShortDescription }}
                    </div>
                </p>
                <p class="input-group">
                    <h4>Mer om oss</h4>
                    <div>
                        {{ organisationalUnit.LongDescription }}
                    </div>
                </p>
                
                <p class="input-group">
                    <span class="input-group-addon">Adress</span>
                    <div>
                        {{ organisationalUnit.Address }}
                    </div>
                </p>
                
                <p class="input-group">
                    <span class="input-group-addon">Telefon</span>
                    <div>
                        {{ organisationalUnit.Telephone }}
                    </div>
                </p>
                
                <p class="input-group">
                    <span class="input-group-addon">E-post</span>
                    <div>
                        {{ organisationalUnit.Email }}
                    </div>
                </p>
                
                <p class="input-group">
                    <span class="input-group-addon">Webbsida</span>
                    <div>
                        {{ organisationalUnit.Website }}
                    </div>
                </p>
                <p class="input-group">
                    <span class="input-group-addon">Övrig information</span>
                    <div>
                        {{ organisationalUnit.Other }}
                    </div>
                </p>
                <p class="input-group">
                    <span class="input-group-addon">Organisationsform</span>
                    <div>
                        {{ organisationalUnit.OrganisationalForm }}
                    </div>
                </p>

                <div class="row">
                    <a href="#" ng-click="#">Visa i kartan</a>
                </div>
                <div class="row">
                   <a href="#" ng-click="#">Jämför</a>
                </div>
             </div>
        </div>
</div>