<div class="content">
        <h4>Operator</h4>
        <!-- Show Operator -->
        <div data-ng-app="operator" data-ng-controller="rootViewModel">
            <p ng-model="operatorService.">

            </p>
            <p>

            </p>
            <p>

            </p>
            <p>

            </p>
            <p>

            </p>
            <p>

            </p>
            <p>

            </p>
        </div>
       <div ng-view></div>
        <div class="small-4 columns">
            <div class="row">
                <a href="#">Jämför</a>
            </div>
            <div class="row">
                <a href="#">Karta</a>
            </div>
        </div>
    
</div>