@{
    ViewBag.Title = "Index";
}
@section scripts {
<script src="~/App/Categories/App.js"></script>
<script src="~/App/Categories/ViewModels/RootViewModel.js"></script>
<script src="~/App/Categories/ViewModels/CategoriesViewModel.js"></script>

<script src="~/App/Operators/ViewModels/OperatorsHomeViewModel.js"></script>
}

<div data-ng-app="category" id="category" data-ng-controller="rootViewModel">
    <div class="container">
        <h3>{{ pageHeading }}</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>

        <div ng-view></div>
    </div>
</div>
