<h2>{{ pageHeading }}</h2>

<p>{{ category.Description }}</p>

<h3>Aktörer</h3>
<div class="right searchbar">
    <div id="search">
        <div class="small-4 columns end">
            <input id="search-box" placeholder="Sök" type="text" data-ng-model="filter.name" />
        </div>
    </div>
</div>
<div class="container">
    <!--navbar for simple or detailed list -->
    <div class="row">
        <dl class="breadcrumbs">
            <dd class="unavailable"><a href="#">Visa detaljerad lista</a></dd>
            <dd><a href="#" ng-click="changeView('&karta')">Visa på karta</a></dd>
            <dd><a ng-click="changeListView('/enkel')">Visa enkel lista</a></dd>
        </dl>
    </div>

    <!-- navbar for sorting -->
    <div class="row">
        <dl class="sub-nav">
            <dt>Sortera:</dt>
            <dd class="{{ activeName }}"><a href="" ng-click="sortOuByName()">Namn</a><img class="{{ visibleName }}" src="/Content/pictures/{{ sortOrder }}.png" ng-click="sortOuByName()" /></dd>
            <dd class="{{ activeAddress }}"><a href="" ng-click="sortOuByAddress()">Adress</a><img class="{{ visibleAddress }}" src="/Content/pictures/{{ sortOrder }}.png" ng-click="sortOuByAddress()" /></dd>
        </dl>
    </div>

    <div class="operator-loop" ng-repeat="ou in category.OrganisationalUnits | filter:filter.name | orderBy:sortBy">
        {{ setCompareSettingsForOu(ou)}}

        <div class="row">
            <div class="small-5 columns end">
                <h5><a href="#" ng-click="showOperator(ou.OrganisationalUnitId)">{{ ou.Name }}</a></h5>
            </div>
        </div>
        <div class="row">
            <div class="small-2 columns">
                <img src="https://upload.wikimedia.org/wikipedia/commons/d/d0/Lmspic.png" />
            </div>
            <div class="small-7 columns">
                <div>{{ ou.Telephone }}</div>
                <div>{{ ou.Address }}</div>
                <div>{{ ou.Email }}</div>
            </div>
            <div class="small-3 columns">
                <div class="row">
                    <div class="{{ ou.class }}"><a href="" ng-click="toggleOperators(ou)"><i class="{{ ou.icon }}"></i>{{ ou.text}}</a></div>
                </div>
                <div class="row">
                    <div class="mapClass"><a href="#">Karta</a></div>
                </div>
            </div>
        </div>
    </div>
</div>