<h2>Aktörer</h2>

<div class="right searchbar">
    <div id="search">
        <div class="small-4 columns end">
            <input id="search-box" placeholder="Sök" type="text" data-ng-model="filter.name" />
        </div>
    </div>
</div>
<div class="container">
    <!--navbar for simple or detailed list -->
    <div class="row">
        <dl class="breadcrumbs">
            <dd class="{{ detailedClass }}"><a href="#" data-ng-click="showMe()">Visa detaljerad lista</a></dd>
            <dd class="{{ mapClass }}"><a href="#" data-ng-click="showMap()">Visa på karta</a></dd>
            <dd class="{{ simpleClass }}"><a href="#" data-ng-click="hideMe()">Visa enkel lista</a></dd>
        </dl>
    </div>

    <!-- navbar for sorting -->
    <div class="row">
        <dl class="sub-nav">
            <dt>Sortera:</dt>
            <dd class="{{ activeName }}"><a href="" ng-click="sortOuByName()">Namn</a><img class="{{ visibleName }}" src="/Content/pictures/{{ sortOrder }}.png" ng-click="sortOuByName()" /></dd>
            <dd class="{{ activeAddress }}"><a href="" ng-click="sortOuByAddress()">Adress</a><img class="{{ visibleAddress }}" src="/Content/pictures/{{ sortOrder }}.png" ng-click="sortOuByAddress()" /></dd>
            <dd ng-if="posLat != undefined && posLng != undefined" class="{{ activeDistance }}"><a href="" ng-click="sortOuByDistance()">Distans</a></dd>
        </dl>
    </div>

    <div data-ng-show="simple">
        <table class="table">
            <thead>
                <tr>
                    <th width="10"></th>
                    <th width="150">Namn</th>
                    <th width="100">Kontaktuppgifter</th>
                    <th width="100"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ou in category.OrganisationalUnits | filter:filter.name | orderBy:sortByOrder + sortBy">
                    <td>{{ setCompareSettingsForOu(ou)}}</td>

                    <td><h5><a href="#" ng-click="showOperator(ou.OrganisationalUnitId)">{{ ou.Name }}</a></h5></td>
                    <td>
                        <p>
                            {{ ou.Address }}<br />
                            Telefon: {{ ou.Telephone }}
                        </p>
                    </td>
                    <td>
                        <div class="{{ ou.class }}"><a href="" ng-click="toggleOperators(ou)"><i class="{{ ou.icon }}"></i>{{ ou.text}}</a></div>
                        <div class="mapClass"><a href="#">Karta</a></div>
                    </td>

                </tr>

            </tbody>
        </table>
    </div>

    <div data-ng-show="detailed">
        <div class="operator-loop" ng-repeat="ou in category.OrganisationalUnits | filter:filter.name | orderBy:sortBy">
            {{ setCompareSettingsForOu(ou)}}



            <div class="row">
                <div class="small-5 columns end">
                    <h5><a href="#" ng-click="showOperator(ou.OrganisationalUnitId)">{{ ou.Name }}</a></h5>
                </div>
            </div>
            <div class="row">
                <div class="small-2 columns">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/d/d0/Lmspic.png" />
                </div>
                <div class="small-7 columns">
                    <div>{{ ou.ShortDescription }}</div>
                    <div><strong>Adress:</strong> {{ ou.Address }}</div>
                    <div ng-if="getDistanceBetweenPositions(ou) >= 0.0"><strong>Distans:</strong> {{ getDistanceBetweenPositions(ou) }} km</div>
                </div>
                <div class="small-3 columns">
                    <div class="row">
                        <div class="{{ ou.class }}"><a href="" ng-click="toggleOperators(ou)"><i class="{{ ou.icon }}"></i>{{ ou.text}}</a></div>
                    </div>
                    <div class="row">
                        <div class="mapClass"><a href="#">Karta</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div data-ng-show="map">
        <!--<ui-gmap-google-map center='mapBox.center' zoom='mapBox.zoom'></ui-gmap-google-map>-->
        <ui-gmap-google-map center="mapBox.center" zoom="mapBox.zoom" draggable="true">
            <div ng-repeat="mapOu in category.OrganisationalUnits">
                <ui-gmap-marker coords="{ latitude: mapOu.Latitude, longitude: mapOu.Longitude }" options="marker.options" events="marker.events" idkey="marker.id">
                </ui-gmap-marker>
            </div>
        </ui-gmap-google-map>
    </div>
</div>

<script src='//maps.googleapis.com/maps/api/js'></script>