<h3>CompareView</h3>

<!--Tabel with chosen operators-->
<table class="dataTable row-border hover" datatable="ng">
    <caption>Jämförelse </caption>
    
    <thead>
        <tr>
            <td></td>
            <td ng-repeat="ou in category.OrganisationalUnits">
                <div class="table-header small-4 columns">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/d/d0/Lmspic.png" />
                </div>
                <div>
                    {{ ou.Name }}<br />
                </div>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Adress</td>
            <td ng-repeat="ou in category.OrganisationalUnits">
                {{ ou.Address }}
            </td>
        </tr>
        <tr>
            <td>Kontakt</td>
            <td ng-repeat="ou in category.OrganisationalUnits">
                {{ ou.Contact }}
            </td>
        </tr>
        <tr>
            <td>Kort beskrivning</td>
            <td ng-repeat="ou in category.OrganisationalUnits">
                {{ ou.ShortDescription }}
            </td>
        </tr>
    </tbody>
</table>