<h3>CompareView</h3>

<!--Tabel with chosen operators-->
<table class="dataTable row-border hover" datatable="ng">
    <caption>Jämförelse </caption>
    
    <thead>
        <tr>
            <td ng-repeat="operator in operators">
                <div class="table-header small-4 columns">
                    {{ operator.img }}
                    <img src="https://upload.wikimedia.org/wikipedia/commons/d/d0/Lmspic.png" />
                </div>
                <div>
                    {{ operator.Name }}<br />
                    {{ operator.address }}Adress
                </div>
            </td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr >
            <td ng-repeat="operator in operators">
                <div class="small-4 columns">
                    {{ operator.img }}
                    <img src="https://upload.wikimedia.org/wikipedia/commons/d/d0/Lmspic.png" />
                </div>
                <div>
                    {{ operator.Name }}<br />
                    {{ operator.address }}Adress
                </div>
            </td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>