@{
    ViewBag.Title = "Aktörer";
}
@section scripts {
    <script src="~/App/Operators/App.js"></script>
    <script src="~/App/Operators/ViewModels/RootViewModel.js"></script>
    <script src="~/App/Operators/ViewModels/OperatorsHomeViewModel.js"></script>
}

<div data-ng-app="operators" id="operators" data-ng-controller="rootViewModel">
    <div class="container">
        <div ng-view></div>
    </div>
</div>
