@using TownComparisons.Domain.Entities;
@using TownComparisons.Domain.Models;
@{
    ViewBag.Title = "Kategori";
}

<h3>Kategori</h3>
<div id="Categories">
    @{
        foreach (OrganisationalUnit ou in ViewBag.OUnits)
        {
            <a href="~/Home/AddOrganisationalUnit/@ou.OrganisationalUnitId">@ou.Name</a><br />
        }
    }
</div>