@{
    ViewBag.Title = "Resultat.cshtml";
}
@section scripts {
    <script src="~/App/Result/App.js"></script>
    <script src="~/App/Result/ResultViewModel.js"></script>
}

<h3>Jämförelseresultat</h3>
<p>Hämta in Angular</p>