<ul class="breadcrumbs">
    <li><a href="/admin">Admin</a></li>
    <li><a href="/admin/operators">Aktörer</a></li>
    <li class="current">{{ operator.Name }}</li>
</ul>

<h3>Aktör: {{ operator.Name }}</h3>

<form novalidate>

    <label>Namn:</label>
    <input type="text" ng-model="operator.Name" />

    <label>Kort beskrivning:</label>
    <textarea ng-model="operator.ShortDescription"></textarea>

    <label>Längre beskrivning:</label>
    <textarea ng-model="operator.LongDescription" rows="5"></textarea>

    <label>Adress:</label>
    <textarea ng-model="operator.Address"></textarea>

</form>
