
@{
    ViewBag.Title = "Lista med aktörer som ska jämföras";
}

@section scripts{
    <script src="~/App/Compare/app.js"></script>
}

<div data-ng-app="main">
    <p data-ng-controller="andreasCategoryViewModel as model">
        {{model.hello}}
    </p>

</div>

