@model TownComparisons.MVC.Views.AdminCategories.EditViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Ändra kategori @Model.Category.Name</h2>

@for (int g = 0; g < Model.AllPropertyQueryGroups.Count; g++)
{
    <h4>@Model.AllPropertyQueryGroups[g].Title</h4>

    for (int q = 0; q < Model.AllPropertyQueryGroups[g].Queries.Count; q++)
    {
        for (int cq = 0; cq < Model.Category.Queries.Count; cq++)
        {
            if (Model.Category.Queries[cq].QueryId == Model.AllPropertyQueryGroups[g].Queries[q].QueryId)
            {
                Model.AllPropertyQueryGroups[g].Queries[q].Use = true;
                break;
            }
        }

        @Html.EditorFor(m => Model.AllPropertyQueryGroups[g].Queries[q])
    }
}
        